main {
    padding-left: 102px;

    >section {
        display: none;
        padding-right: 32x;
        padding-left: 32px;

        &:not(#home) {
            padding-top: 64px;
        }

        &.active {
            display: block;
        }

        header.has-bg {
            position: relative;

            img {
                position: absolute;
                top: 15px;
                left: -72px;
            }
        }
    }
}