@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 48px;
  font-weight: 700%;
}

h2 {
  font-size: 24px;
  font-weight: 700%;
}

p {
  font-family: "Ubuntu", "sans-serif";
}

body {
  background: #1B1725;
}

* {
  color: #fff;
}

main {
  padding-left: 106px;
}
main > section {
  display: none;
  padding-right: 114px;
  padding-left: 114px;
}
main > section.active {
  display: block;
}

.btn-custom-blue {
  display: inline-block;
  position: relative;
  background: #26060c;
  padding: 10px 52px;
  text-decoration: none;
  color: #D62246;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s;
}
.btn-custom-blue:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: #D62246;
  opacity: 0.3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.3s;
}
.btn-custom-blue:hover {
  color: #fff;
}
.btn-custom-blue:hover:before {
  transform: translate(-50%, -50%) scale(2);
}

#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
#sidebar .toggle-sidebar {
  position: absolute;
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: #131a1d;
  display: none;
  justify-content: center;
  align-items: center;
  right: -45px;
}
#sidebar .logo {
  height: 20%;
  padding-top: 62px;
  text-align: center;
}
#sidebar nav {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 35px;
}
#sidebar nav ul li a {
  position: relative;
}
#sidebar nav ul li a:hover i {
  color: #fff;
}
#sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 30px;
}
#sidebar nav ul li a:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #D62246;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
#sidebar nav ul li a.active:before {
  opacity: 0.15;
  transform: translate(-50%, -50%) scale(1);
}
#sidebar nav ul li a.active i {
  color: #D62246;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a i {
  font-size: 18px;
  color: #C0D6DF;
  transition: all 0.3s;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  top: -8px;
  left: 20px;
  padding: 7px 13px;
  background: rgba(79, 109, 122, 0.75);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 62px;
}
#sidebar .toggle-mode .outer {
  width: 28px;
  height: 35px;
  background: #4F6D7A;
  border-radius: 24px;
}
#sidebar .toggle-mode .outer .inner {
  width: 16px;
  height: 14px;
  background: #D62246;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}

#home {
  background-image: url("../images/bg-shape.png");
  background-repeat: no-repeat;
  background-position: 40vw -24px;
}
#home .info {
  padding-top: 281px;
}
#home .info img.mini-pic {
  margin-bottom: 24px;
}
#home .info h1 {
  margin-bottom: 24px;
}
#home .info h1 span {
  color: #C0D6DF;
}
#home .info .field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#home .info .field h2 {
  color: #C0D6DF;
  margin: 0;
}
#home .info .field span {
  font-size: 21px;
  margin-left: 2px;
}
#home .info p {
  max-width: 430px;
  margin-bottom: 74px;
}
#home .info .socials {
  margin-top: 191px;
}
#home .info .socials ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
#home .info .socials ul li {
  margin-right: 8px;
}
#home .info .socials ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 9px 11px;
  transition: all 0.3s;
}
#home .info .socials ul li a:hover {
  background: #4F6D7A;
  border-radius: 6px;
}
#home .info .socials ul li a:hover span,
#home .info .socials ul li a:hover i {
  color: #fff;
}
#home .info .socials ul li a i {
  font-size: 14px;
  margin-right: 8px;
  color: #C0D6DF;
  transition: all 0.3s;
}
#home .info .socials ul li a span {
  color: #DBE9EE;
  transition: all 0.3s;
}
#home .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#home .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}
#home .image img:hover {
  filter: saturate(200%) grayscale(90%);
}
#home .meteor-shower {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
#home .meteor-shower .meteor:nth-child(1) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 82vh;
  left: 88vw;
  animation: meteor 6462ms linear infinite;
  animation-delay: 442ms;
}
#home .meteor-shower .meteor:nth-child(2) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 56vh;
  left: 3vw;
  animation: meteor 3583ms linear infinite;
  animation-delay: 2273ms;
}
#home .meteor-shower .meteor:nth-child(3) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 61vh;
  left: 55vw;
  animation: meteor 5755ms linear infinite;
  animation-delay: 3979ms;
}
#home .meteor-shower .meteor:nth-child(4) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 13vh;
  left: 18vw;
  animation: meteor 3117ms linear infinite;
  animation-delay: 3800ms;
}
#home .meteor-shower .meteor:nth-child(5) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 49vh;
  left: 11vw;
  animation: meteor 5260ms linear infinite;
  animation-delay: 2203ms;
}
#home .meteor-shower .meteor:nth-child(6) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 75vh;
  left: 17vw;
  animation: meteor 3107ms linear infinite;
  animation-delay: 4350ms;
}
#home .meteor-shower .meteor:nth-child(7) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 86vh;
  left: 96vw;
  animation: meteor 4801ms linear infinite;
  animation-delay: 4557ms;
}
#home .meteor-shower .meteor:nth-child(8) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 5vh;
  left: 85vw;
  animation: meteor 3155ms linear infinite;
  animation-delay: 1524ms;
}
#home .meteor-shower .meteor:nth-child(9) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 7vh;
  left: 67vw;
  animation: meteor 7391ms linear infinite;
  animation-delay: 404ms;
}
#home .meteor-shower .meteor:nth-child(10) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 28vh;
  left: 55vw;
  animation: meteor 3340ms linear infinite;
  animation-delay: 4664ms;
}
#home .meteor-shower .meteor:nth-child(11) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 65vh;
  left: 15vw;
  animation: meteor 6800ms linear infinite;
  animation-delay: 3213ms;
}
#home .meteor-shower .meteor:nth-child(12) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 83vh;
  left: 55vw;
  animation: meteor 5778ms linear infinite;
  animation-delay: 4494ms;
}
#home .meteor-shower .meteor:nth-child(13) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 3vh;
  left: 28vw;
  animation: meteor 6172ms linear infinite;
  animation-delay: 2866ms;
}
#home .meteor-shower .meteor:nth-child(14) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 68vh;
  left: 54vw;
  animation: meteor 7164ms linear infinite;
  animation-delay: 4430ms;
}
#home .meteor-shower .meteor:nth-child(15) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 64vh;
  left: 66vw;
  animation: meteor 4152ms linear infinite;
  animation-delay: 2365ms;
}

@keyframes meteor {
  0% {
    transform: translate(300px, -300px);
    opacity: 1;
  }
  20% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
}
#contact {
  background: #000;
}

@media (max-width: 991px) {
  main > section {
    padding-right: 32px;
    padding-left: 32px;
  }
  #home .image {
    justify-content: flex-start;
    height: unset;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  #sidebar {
    background: #131a1d;
    padding-right: 60px;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  #sidebar.open {
    transform: translateX(0);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar .logo {
    text-align: left;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li > span {
    display: none;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  main {
    padding-left: 0;
    padding-top: 50px;
  }
  #home {
    background-image: unset;
  }
  #home .info {
    padding-top: 80px;
  }
  #home .info .socials {
    margin-top: 70px;
  }
  #home .info .socials ul {
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */