@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 48px;
  font-weight: 700%;
}

h2 {
  font-size: 24px;
  font-weight: 700%;
}

h3 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 18px;
  font-weight: 400;
}

p {
  line-height: 175%;
}

body {
  background: #1B1725;
  font-family: "Ubuntu", "sans-serif";
}

* {
  color: #fff;
}

main {
  padding-left: 102px;
}
main > section {
  display: none;
  padding-right: 32x;
  padding-left: 32px;
}
main > section:not(#home) {
  padding-top: 64px;
}
main > section.active {
  display: block;
}
main > section header.has-bg {
  position: relative;
}
main > section header.has-bg img {
  position: absolute;
  top: 15px;
  left: -72px;
}

.btn-custom-blue, .btn-custom-dark {
  display: inline-block;
  position: relative;
  background: #082029;
  padding: 10px 52px;
  text-decoration: none;
  color: #19647E;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s;
}
.btn-custom-blue:before, .btn-custom-dark:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: #19647E;
  opacity: 0.3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.3s;
}
.btn-custom-blue:hover, .btn-custom-dark:hover {
  color: #fff;
}
.btn-custom-blue:hover:before, .btn-custom-dark:hover:before {
  transform: translate(-50%, -50%) scale(2);
}

.btn-custom-dark {
  background: #082029;
}

#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
#sidebar .toggle-sidebar {
  position: absolute;
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: #7f3423;
  display: none;
  justify-content: center;
  align-items: center;
  right: -45px;
}
#sidebar .logo {
  height: 20%;
  padding-top: 62px;
  text-align: center;
}
#sidebar nav {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 35px;
}
#sidebar nav ul li a {
  position: relative;
}
#sidebar nav ul li a:hover i {
  color: #fff;
}
#sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 30px;
}
#sidebar nav ul li a:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #19647E;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
#sidebar nav ul li a.active:before {
  opacity: 0.15;
  transform: translate(-50%, -50%) scale(1);
}
#sidebar nav ul li a.active i {
  color: #19647E;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a i {
  font-size: 18px;
  color: #C0D6DF;
  transition: all 0.3s;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  top: -8px;
  left: 20px;
  padding: 7px 13px;
  background: rgba(213, 122, 102, 0.75);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 62px;
}
#sidebar .toggle-mode .outer {
  width: 28px;
  height: 35px;
  background: #D57A66;
  border-radius: 24px;
}
#sidebar .toggle-mode .outer .inner {
  width: 16px;
  height: 14px;
  background: #19647E;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}

#home {
  background-image: url("../images/bg-shape.png");
  background-repeat: no-repeat;
  background-position: 40vw -24px;
}
#home .info {
  padding-top: 281px;
}
#home .info img.mini-pic {
  margin-bottom: 24px;
}
#home .info h1 {
  margin-bottom: 24px;
}
#home .info h1 span {
  color: #C0D6DF;
}
#home .info .field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#home .info .field h2 {
  color: #C0D6DF;
  margin: 0;
}
#home .info .field span {
  font-size: 21px;
  margin-left: 2px;
}
#home .info p {
  max-width: 430px;
  margin-bottom: 74px;
}
#home .info .socials {
  margin-top: 191px;
}
#home .info .socials ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
#home .info .socials ul li {
  margin-right: 8px;
}
#home .info .socials ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 9px 11px;
  transition: all 0.3s;
}
#home .info .socials ul li a:hover {
  background: #D57A66;
  border-radius: 6px;
}
#home .info .socials ul li a:hover span,
#home .info .socials ul li a:hover i {
  color: #fff;
}
#home .info .socials ul li a i {
  font-size: 14px;
  margin-right: 8px;
  color: #C0D6DF;
  transition: all 0.3s;
}
#home .info .socials ul li a span {
  color: #DBE9EE;
  transition: all 0.3s;
}
#home .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#home .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}
#home .image img:hover {
  filter: saturate(200%) sepia(50%);
}
#home .meteor-shower {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
#home .meteor-shower .meteor:nth-child(1) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 44vh;
  left: 14vw;
  animation: meteor 3239ms linear infinite;
  animation-delay: 674ms;
}
#home .meteor-shower .meteor:nth-child(2) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 27vh;
  left: 38vw;
  animation: meteor 5323ms linear infinite;
  animation-delay: 2526ms;
}
#home .meteor-shower .meteor:nth-child(3) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 100vh;
  left: 23vw;
  animation: meteor 5471ms linear infinite;
  animation-delay: 4567ms;
}
#home .meteor-shower .meteor:nth-child(4) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 16vh;
  left: 93vw;
  animation: meteor 7679ms linear infinite;
  animation-delay: 3216ms;
}
#home .meteor-shower .meteor:nth-child(5) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 1vh;
  left: 34vw;
  animation: meteor 5973ms linear infinite;
  animation-delay: 3078ms;
}
#home .meteor-shower .meteor:nth-child(6) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 36vh;
  left: 69vw;
  animation: meteor 4791ms linear infinite;
  animation-delay: 3652ms;
}
#home .meteor-shower .meteor:nth-child(7) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 95vh;
  left: 57vw;
  animation: meteor 7908ms linear infinite;
  animation-delay: 1061ms;
}
#home .meteor-shower .meteor:nth-child(8) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 16vh;
  left: 84vw;
  animation: meteor 4156ms linear infinite;
  animation-delay: 1158ms;
}
#home .meteor-shower .meteor:nth-child(9) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 85vh;
  left: 89vw;
  animation: meteor 3558ms linear infinite;
  animation-delay: 3408ms;
}
#home .meteor-shower .meteor:nth-child(10) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 4vh;
  left: 99vw;
  animation: meteor 7134ms linear infinite;
  animation-delay: 964ms;
}
#home .meteor-shower .meteor:nth-child(11) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 35vh;
  left: 7vw;
  animation: meteor 3679ms linear infinite;
  animation-delay: 3738ms;
}
#home .meteor-shower .meteor:nth-child(12) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 46vh;
  left: 43vw;
  animation: meteor 3435ms linear infinite;
  animation-delay: 753ms;
}
#home .meteor-shower .meteor:nth-child(13) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 67vh;
  left: 12vw;
  animation: meteor 4511ms linear infinite;
  animation-delay: 4004ms;
}
#home .meteor-shower .meteor:nth-child(14) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 2vh;
  left: 96vw;
  animation: meteor 4325ms linear infinite;
  animation-delay: 2011ms;
}
#home .meteor-shower .meteor:nth-child(15) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 34vh;
  left: 29vw;
  animation: meteor 6603ms linear infinite;
  animation-delay: 2402ms;
}

@keyframes meteor {
  0% {
    transform: translate(300px, -300px);
    opacity: 1;
  }
  20% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
}
#about_me .hero .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}
#about_me .hero .image img:hover {
  filter: saturate(200%) sepia(50%);
}
#about_me .hero .info header {
  margin-bottom: 42px;
  margin-top: 10px;
}
#about_me .hero .info h2 {
  color: #C0D6DF;
  margin-bottom: 16px;
}
#about_me .hero .info p {
  max-width: 560px;
  color: #C0D6DF;
}
#about_me .hero .info .items {
  margin-top: 30px;
  margin-bottom: 48px;
}
#about_me .hero .info .items .item {
  display: flex;
  margin-bottom: 16px;
}
#about_me .hero .info .items .item .value {
  color: #C0D6DF;
  margin-left: 4px;
}
#about_me .hero .info .buttons {
  display: inline-flex;
  flex-wrap: wrap;
}
#about_me .hero .info .buttons a:first-child {
  margin-right: 24px;
}
#about_me header.custom {
  position: relative;
  text-align: center;
  margin-bottom: 42px;
}
#about_me header.custom:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #D57A66;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
#about_me header.custom h2 {
  display: inline-block;
  padding: 0 24px;
  background: #1B1725;
}
#about_me .rate {
  display: flex;
}
#about_me .rate span {
  position: relative;
  display: flex;
  width: 15px;
  height: 15px;
}
#about_me .rate span:not(:last-child) {
  margin-right: 12px;
}
#about_me .rate span:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: black;
  transform: rotate(40deg);
}
#about_me .rate span:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: black;
  transform: rotate(50deg);
}
#about_me .rate span.fill:before, #about_me .rate span.fill:after {
  background: #19647E;
}
#about_me .languages-skills {
  margin-top: 126px;
}
#about_me .languages-skills .languages-key-skills {
  padding-right: 160px;
}
#about_me .languages-skills .languages-key-skills .languages .items {
  margin-bottom: 43px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about_me .languages-skills .languages-key-skills .languages .items .item:not(:last-child) {
  margin-bottom: 16px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item .info h3 {
  margin-bottom: 4px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item .info .level {
  color: #C0D6DF;
}
#about_me .languages-skills .languages-key-skills .key-skills .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about_me .languages-skills .languages-key-skills .key-skills .items .item:not(:last-child) {
  margin-bottom: 32px;
}
#about_me .languages-skills .ds-skills .items {
  margin-left: -20px;
  margin-right: -20px;
}
#about_me .languages-skills .ds-skills .items .item {
  position: relative;
  text-align: center;
  padding: 32px 8px;
  background: #D57A66;
  margin-bottom: 16px;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}
#about_me .languages-skills .ds-skills .items .item:hover:before, #about_me .languages-skills .ds-skills .items .item:hover:after {
  transform: translate(0, 0);
}
#about_me .languages-skills .ds-skills .items .item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #082029;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(100%, -100%);
  transition: all 0.6s;
}
#about_me .languages-skills .ds-skills .items .item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #082029;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(-100%, 100%);
  transition: all 0.6s;
}
#about_me .languages-skills .ds-skills .items .item img {
  margin-bottom: 21px;
}
#about_me .languages-skills .ds-skills .items .item h3 {
  margin-bottom: 8px;
}
#about_me .languages-skills .ds-skills .items .item .year {
  color: #DBE9EE;
}
#about_me .certifications {
  margin-top: 120px;
  margin-bottom: 200px;
}
#about_me .certifications .items .item img {
  width: 100%;
  transition: all 0.3s;
}
#about_me .certifications .items .item:hover {
  transform: scale(1.1);
}

#contact {
  background: #000;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  #about_me .languages-skills .languages-key-skills {
    padding-right: 12px;
  }
}
@media (max-width: 991px) {
  #home .image {
    justify-content: flex-start;
    height: unset;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  #sidebar {
    background: #7f3423;
    padding-right: 60px;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  #sidebar.open {
    transform: translateX(0);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar .logo {
    text-align: left;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li > span {
    display: none;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  main {
    padding-left: 0;
  }
  main > section header.has-bg img {
    left: -13px;
    top: -4px;
  }
  #home {
    background-image: unset;
  }
  #home .info {
    padding-top: 80px;
  }
  #home .info .socials {
    margin-top: 70px;
  }
  #home .info .socials ul {
    justify-content: space-between;
  }
  #about_me .hero .info .buttons {
    flex-direction: column;
  }
  #about_me .hero .info .buttons a {
    width: 100%;
    text-align: center;
  }
  #about_me .hero .info .buttons a:first-child {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=main.css.map */