:root {
    --primary-bg-color: #F6F1F1;
    --secondary-bg-color: #AFD3E2;
    --highlight-color: #19A7CE;
    --navbar-color: #146C94;
    --text-color: #146C94;
    --btn-color: #19A7CE;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color);
    margin: 0;
    padding: 0;
}

.custom-navbar {
    background-color: var(--primary-bg-color);
}

.custom-brand {
    font-size: 1.5em;
    font-family: 'Georgia', serif;
}

.navbar-brand,
.nav-link {
    color: var(--text-color) !important;
}

.description-section {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    padding: 50px 0;
    text-align: justify;
}

.profile-photo {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.projects-section {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 20px 0 50px 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 500px;
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.keyword {
    display: inline-block;
    background-color: var(--highlight-color);
    padding: 2px 5px;
    border-radius: 5px;
    margin: 2px 2px 2px 0;
}

.project-description {
    text-align: justify;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Limit to 5 lines */
    -webkit-box-orient: vertical;
}

.btn-project {
    background-color: var(--btn-color);
    color: var(--primary-bg-color);
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
}

.projects-title {
    padding: 40px 0 30px 0;
    font-size: 2.5em;
    text-align: center;
}

.project-title {
    font-size: 1.2em;
    text-align: center;
}

.description-highlight {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    background-color: var(--navbar-color);
    color: var(--primary-bg-color);
    text-align: center;
}

.copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.8em;
}

.portfolio-section {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 40px 0 60px 0;
}

.details-section {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 50px 0;
}

.details-section h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.details-section ul {
    padding-bottom: 20px;
}

.skills .badge {
    font-size: 1.0em;
    margin: 5px;
    background-color: var(--highlight-color);
}

.description-section,
.portfolio-section,
.projects-section,
.details-section {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}