@media (max-width: 991px) {
    #sidebar {
        position: relative;
        width: 100%;
        height: auto;
        border-right: none;
        display: block;
        padding: 1rem;

        .logo { display: none; }
        nav ul { flex-direction: row; justify-content: space-around; }
        nav ul li > span { display: none; }
    }

    main { padding-left: 0; }

    #home .info { padding-top: 40px; }

    #my_work .work-items .item { margin-bottom: 1rem; }
}

@media (max-width: 480px) {
    #sidebar { display: none; }
    .container { padding: 0 1rem; }
    #home .image { display: none; }
}
